:root{
    --Navvy-red: #7b1e1e;
    --Navvy-darker-red: #601919;
    --dark-gray: #333;
    --light-gray: #ccc;
}

    body {
        margin: 0;
        font-family: "Segoe UI", sans-serif;
        background-image: 
            linear-gradient(rgba(255, 255, 255, 0.75), rgba(120, 50, 50, 0.75)),
            url("./campus_image.jpg");
        background-size: cover, cover;
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        background-attachment: fixed, fixed;
    }

    /* Navbar */
    .navbar {
        background-color: var(--Navvy-red);
        padding: 1rem 2rem;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 15x;
    }

    .container {
        max-width: 600px;
        margin: 80px auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    }

    .building-polygon {
    stroke: red;
    stroke-width: 4;
    stroke-opacity: 0.7;
    fill: red;
    fill-opacity: 0.3;
    }

    .building-polygon:hover {
    fill-opacity: 0.5;
    cursor: pointer;
    }

    #map { 
        height: 450px; 
        width:100%; 
        background-color:#eee; 
        border:1px solid #ccc; 
        margin-bottom:1.5rem;}

    h1 {
        text-align: center;
        color: var(--Navvy-red);
        font-size: 40px;
        margin: 0px 10px 10px 10px;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--dark-gray);
    }

    input[type="text"] {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1.5rem;
        border: 1px solid var(--light-gray);
        border-radius: 8px;
        font-size: 1rem;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 0.75rem;
        background-color: var(--Navvy-red);
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        box-sizing: border-box;
    }

    button:hover {
        background-color: var(--Navvy-darker-red);
    }

    @media (max-width: 600px) {
        .container {
            margin: 40px 20px;
        }
    }
